@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

p { 
	margin-top: 15px;
	margin-bottom: 15px;
}

body {
	background: #F5F5DC;
	color: #303030;
	margin: 0;
	font-family : 'Hind', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

iframe {
	width: 100%;
}

ul {
	padding: 0 10px 0 40px;
}

.full-screen {
	height: 100vh;
	background-image: url("/img/programming.jpg");
}

.header-box {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 330px;
	transform: translate(-50%,-50%);
	background-color: rgba(26, 156, 208, 0.5);
	display: flex;
	flex-direction: column;
}

.header-wrapper {
	margin: 0 auto;
	max-width: 600px;
	padding: 30px;
	display: flex;
	flex-direction: row;
}

.summary {
	margin: 0 auto;
	width: 66.666%;
	display: flex;
	flex-direction: column;
}

.profile-photo {
	margin: auto;
	width: 33.333%;
	border-radius: 50%;
	box-shadow: 0 0 22px 2px rgba(0, 0, 0, 0.75);
}

.name {
	font-size: 50px;
	font-weight: bold;
	color: #FFFFFF;
}

.bio {
	font-size: 20px;
	font-weight: lighter;
	color: #b0b0b0;
	line-height: 115%;
}

.icon-links {
	text-align: center;
	font-size: 2em;
	padding: 10px 0;
}

.icon-links>a {
	color: #fff;
	padding: 0 4px;
}

.portfolio {
	padding-top: 5%;
	margin: 0 20%;
}

.portfolio>h1 {
	font-size: 3em;
	text-align: center;
	padding-bottom: 2%;
}

.selection-bar {
	margin: auto;
	padding-bottom: 30px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.no-scroll {
	overflow: hidden;
}

.project-cell {
	margin: 8px 8px;
	width: calc(33.33333333% - 16px);
}

.project-cell:hover {
	cursor: pointer;
}

.project-cell>figcaption {
	text-align: center;
	font-size: 20px;
}

.project-cell>img {
	width: 100%;
	height: 12vw;
	border-radius: 2%;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.project-modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	margin: 0 auto;
	margin-bottom: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);  /* If alpha value not supported */
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fefefe;
	vertical-align: middle;
	margin: 10px auto;
	padding: 20px 50px;
	/*border: 20px none rgba(0, 0, 0, 0.7);*/
	overflow-y: scroll;
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

.project-title {
	text-align: center;
}

.project-skills {
	text-align: center;
	font-family: "VT323";
	font-size: 30px;
	margin-bottom: 20px;
}

.project-description {
	font-size: 20px;
	font-weight: 400;
	text-align: justify;
	font-family: "Helvetica", sans-serif;
}

.project-slideshow {
	/* display: none; */
	margin-bottom: 50px;
}

.slideshow-cell {
	width: 100%;
	height: 400px;
	margin-right: 10px;
	background: #fff;
}

.slideshow-cell-image {
	display: block;
	max-height: 100%;
	margin: 0 auto;
	max-width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.4s;
			transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}


.navigation-wrapper>a:link,
.navigation-wrapper>a:visited {
	text-decoration: none;
	font-weight: 600;
	color: #000;
	font-size: 2em
}

.close {
	color: #aaa;
	font-size: 50px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.done {
	color:#eee;
	background: rgba(124, 174, 122, 0.7);
	font-size: 15px;
	padding: 25px 50px;
	margin: 20px auto;
}

.done:hover,
.done:focus {
	background: rgba(124, 174, 122, 1.0);
	text-decoration: none;
	cursor: pointer;
}

.contact {
	text-align: center;
	font-size: 3em;
	padding: 100px 0;
	background-color: rgb(57, 62, 65);
	width: 100%;
	display: inline-block;
}

.email {
	font-size: 0.8em;
	display: inline-block;
	margin: 30px 0;
	padding: 10px 50px 10px 50px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-bottom: 3px solid #5D5D5B;
	color: #5D5D5B;
	text-decoration: none;
}

@media screen and (max-width: 750px) {
	.portfolio {
		margin: 0 5%;
	}

	.project-cell {
		width: calc(50% - 16px);
	}

	.project-cell>img {
		height: 30vw;
	}
}

@media screen and (max-width: 550px) {
	.header-wrapper {
		display: flex;
		flex-basis: 100%;
		/*flex-direction: column;*/
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

	.summary {
		width: 100%;
		text-align: center;
	}

	.profile-photo {
		width: 30vw;
		height: 30vw;
	}

	.project-description {
		font-size: 17px;
	}

	.header-box {
		height: 400px;
	}

	.slideshow-cell {
		height: 300px;
	}
}

@media screen and (max-width: 400px) {
	.portfolio {
		margin: 0 10%;
	}

	.project-cell {
		width: 100%;
	}

	.project-cell>img {
		height: 60vw;
	}

	.slideshow-cell {
		height: 200px;
	}
}