@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@200;300;400;700&display=swap');


body {
	background: #FFFFFF;
	font-family: "Merriweather", serif;
	width: 84%;
	padding-left: 8%;
    padding-right: 8%;
}

.page-wrapper {
	max-width: 694px;
	margin: 100px auto 200px auto;
}

.profile-pic {
	width: 208px;
	float: left;
	margin: 0 11px 0 0;
}

.name {
	font-weight: 400;
	font-size: 48px;
	margin: 0 0 10px 0;
}

.subtitle {
	font-weight: 300;
	font-size: 24px;
	margin: 0;
}

.description {
	font-weight: 300;
	font-size: 17px;
}

.card {
	margin-top: 50px;
}

ul {
	padding-left: 0;
}

ul > li {
	display: inline-block;
	margin: 0 5.5px 0 0;
}

a {
	color: #326891;
	text-decoration: underline;
}

@media screen and (max-width: 660px) {
	.profile-pic {
		float: none;
	}
}